* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(107,255,83);
    background: -moz-linear-gradient(160deg, rgba(107,255,83,1) 0%, rgba(11,121,9,1) 40%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(160deg, rgba(107,255,83,1) 0%, rgba(11,121,9,1) 40%, rgba(0,0,0,1) 100%);
    background: linear-gradient(160deg, rgba(107,255,83,1) 0%, rgba(11,121,9,1) 40%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6bff53",endColorstr="#000000",GradientType=1);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: calc(100vh - 70px);
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 50px;
    width: calc(100% - 200px)
}

p, a, header ul li {
    font-family: 'Roboto', sans-serif;
}

.menu {
    display: none;
}

.container {
    height: 100%;
    width: 70%;
    margin: auto;
}

.sezione1 p {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.sezione2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contenuto {
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
}

.immagine {
    height: 80%;
    width: 80%;
}

.immagine p {
    text-align: center;
    color: white;
}

.immagine img {
    border-radius: 100%;
    width: 100%;
}

header ul li {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

main {
    overflow-y: auto;
    float: right;
    height: calc(100vh - 120px);
    width: calc(100% - 200px)
}

footer {
    height: 70px;
    background-color: #212821;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.block {
    display: block;
}

.logo {
    padding-top: 20px;
}

.p-top {
    padding-top: 10px;
}

.p-bottom {
    padding-bottom: 20px;
}

.p-left {
    padding-left: 20px;
}

.p-right {
    padding-right: 20px;
}

.logo i, .logo p {
    font-size: 30px;
    color: white;
}

.logo p {
    display: inline-block;
}

.cerca a, .home a, .libreria a, .installa a, .account a {
    text-decoration: none;
    color: lightgray;
}

.stile {
    font-size: 15px;
    color: lightgray;
    text-decoration: none;
}

.stile i {
    padding-right: 10px;
}

.home {
    border-left: 3px solid lightgreen;
    padding-left: 15px;
}

.installa {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.installa, .account {
    margin-left: 20px;
    margin-right: 20px;
}

.footer-left {
    margin-top: 10px;
    position: relative;
    width: 150px;
}

.brano-immagine {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.brano-immagine, .brano, .icona {
    display: inline-block;
}

.brano-immagine img {
    width: 100%;
}

.icona {
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-central {
    width: 500px;
}

.button-wrapper i, .footer-right i {
    color: gray;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 60%;
    margin: auto;
}

.slider {
    height: 40%;
    width: 100%;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    width: auto;

}

.slider-wrapper-2 {
    width: 70px;
}

.footer-right {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0px 0;
  width: 100%;
}
[type=range]::-moz-focus-outer {
  border: 0;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #fbfbfc;
}
[type=range]:focus::-ms-fill-lower {
  background: #eceff1;
}
[type=range]:focus::-ms-fill-upper {
  background: #fbfbfc;
}
[type=range]::-webkit-slider-runnable-track {
    cursor: default;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}
[type=range]::-webkit-slider-thumb {
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    margin-top: -7px;
}
[type=range]::-moz-range-track {
    cursor: default;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
    background: lightgray;
    border-radius: 5px;
}
[type=range]::-moz-range-thumb {
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px;
    margin-top: -7px;
}
[type=range]::-ms-track {
    cursor: default;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 12px 0;
    color: transparent;
}
[type=range]::-ms-fill-lower {
  background: #dde3e6;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}
[type=range]::-ms-fill-upper {
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}
[type=range]::-ms-thumb {
    background: #DCDCDC;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px;
    margin-top: 2px;
}
[type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}

@media all and (max-width: 767px) {
    aside {
        width: 70px;
    }

    header ul {
        display: none;
    }

    header {
        width: calc(100% - 70px);
    }

    main {
        width: calc(100% - 70px)
    }

    .menu {
        color: white;
        padding-left: 20px;
        display: inline-block;
        position: absolute;
        left: 0;
    }

    .logo p {
        display: none;
    }

    .cerca a:last-child {
        display: none;
    }

    .home a:last-child {
        display: none;
    }

    .libreria a:last-child {
        display: none;
    }

    .account a:last-child {
        display: none;
    }

    .installa a:last-child {
        display: none;
    }

    .block {
        display: none;
    }

    .brano {
        display: none;
    }

    .footer-right {
        display: none;
    }

    .footer-left {
        width: 70px;
    }

    footer {
        display: flex;
        justify-content: flex-start;
    }

    .slider {
        width: 80%;
        margin: auto;
    }

    .icona {
        margin: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

    .brano {
        display: none;
    }
}
